# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://anreseswqqyhfcdgmwjy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucmVzZXN3cXF5aGZjZGdtd2p5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMDA1OTUsImV4cCI6MjA5Mzc3NjU5NX0.tOgRn24IwtQZxL909j6BCP6463ZjyHG_ASx3Ii360mI

# Email Notification (Resend)
RESEND_API_KEY=re_fk77JUyx_9xK8hkLukoNDudCYoqZt1nxY
EMAIL_FROM=BPJS Dashboard <jekibpjs123@gmail.com>

# App URL (for email links)
NEXT_PUBLIC_APP_URL=http://localhost:3000/auth/login

